$bleuDeFrance: #3498db;
$lightCarminePink: #f26071;
$onyx: #333945;
$snow: #fbfbfb;
$platinum: #e4e4e4;
$darkGray: #a8a8a8;
$battleshipGrey: #848484;
$ruddyPink: #eb8d8d;

$white: white;
$black: black;
$red: red;

$fast-transition: all 0.15s linear;
$normal-transition: all 0.25s linear;
