.appbar {
  height: rem(90);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $white;
  padding-right: rem(20);
  padding-left: rem(20);

  &_account {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-avatar {
      margin-left: rem(40);
      width: rem(50);
      height: rem(50);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bleuDeFrance;
    }
  }
}
