.button {
  outline: none;
  cursor: pointer;
  padding: rem(10) rem(20);
  @include fontBase(16, $white);
  transition: $fast-transition;
  border: none;
  -webkit-appearance: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &-primary {
    background-color: $ruddyPink;
    color: $white;
  }

  &-default {
    background-color: $platinum;
    color: $black;
  }
}
