.addContractForm {
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 100%;

  &_title {
    @include fontBase(32);
    padding: rem(20) 0 rem(20) rem(24);
    border-bottom: rem(1) solid $battleshipGrey;
    font-weight: bold;
  }

  &_form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: rem(20);

    &-content {
      display: flex;
      flex-grow: 1;
    }

    &-left,
    &-right {
      flex: 0 0 calc(50% - 30px);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &-right {
      margin-left: rem(30);
    }

    &-input {
      margin-top: rem(30);
    }

    &-section {
      @include fontBase(32);
      font-weight: bold;
    }

    &-actions {
      margin-top: rem(50);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-actionBtn {
      &:last-child {
        margin-left: rem(30);
      }
    }
  }
}
